body_pose_picture/data/*.jpg
body_pose_picture/data/*.mp4
body_pose_picture/data/*.png
!body_pose_picture/data/.gitkeep

!body_pose_picture/data/.gitignore

body_pose_picture/model/*.pb
body_pose_picture/model/*.onnx
body_pose_picture/model/*.bin

!body_pose_picture/model/.gitignore

body_pose_picture/output/*
!body_pose_picture/output/.gitkeep

body_pose_picture/*.json


body_pose_picture/src/LICENSE.txt
body_pose_picture/src/THIRD_PARTY_OPEN_SOURCE_SOFTWARE_NOTICE.txt

__pycache__/
*.pyc
*.pyo
*.pyd

*.log
*.tmp

*.bak
*.backup

*.env
